#еrror-block{
  width: auto;
  height: 30px;
  text-align: center;
  font-weight: 700;
  color: red;
}
/*Table desing*/
#returned_asteroids{
	display: none;
}
.tbl-qa {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.tbl-qa td, .tbl-qa th {
  border: 1px solid #ddd;
  padding: 8px;
}
#selected{
  width:auto;
}
.tbl-qa tr:nth-child(even){background-color: #f2f2f2;}

.tbl-qa tr:hover {background-color: #ddd;}

.tbl-qa th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
input[type=text], input[type=date]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit], input[type=button] {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#datalist{
  width: 60%;
}
